<section class="about section">
  <div class="container">
    <div class="about__inner">
<img class="about__img" src="images/delivery.png" alt="Курьер на мотороллере" width="440" height="585">
      <div class="about__aside">
        <h2 class="about__title title">
          Оставайтесь дома,<br>
         а мы позаботимся о еде
        </h2>
        <p class="about__text">
          У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей доставкой прямо сейчас и
          получите скиидку!
        </p>
        <ul class="about__list">
          <li class="about__item">
            <svg class="about__svg about__svg--timer">
              <use xlink:href="images/sprite.svg#icon-timer"></use>
            </svg>
            Быстрая доставка за 15 минут
          </li>
          <li class="about__item">
            <svg class="about__svg about__svg--delivery">
              <use xlink:href="images/sprite.svg#icon-delivery"></use>
            </svg>
            Вежливые курьеры
          </li>
          <li class="about__item">
            <svg class="about__svg about__svg--restorant">
              <use xlink:href="images/sprite.svg#icon-restorant"></use>
            </svg>
            Более 500 заведений
          </li>
        </ul>
        <a class="about__link btn" href="#">
          Подробнее
        </a>

      </div>



    </div>
  </div>
</section>