<section class="application section">
  <div class="container">
    <div class="application__inner">
      <div class="application__aside">
        <h2 class="application__title title">
          Скачайте мобильное приложение
        </h2>
        <p class="application__text">
          Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом удобном месте.
        </p>
        <div class="application__list">
          <a class="application__link" href="#">
            <img class="application__img-store" src="images/appstore.png" alt="App store" width="120" height="40">
          </a>
          <a class="application__link" href="#">
            <img class="application__img-store" src="images/googleplay.png" alt="Google play" width="135" height="40">
          </a>
        </div>
      </div>
      <img class="application__img" src="images/application.jpg" alt="Мобильное приложение" width="570" height="380">
    </div>
  </div>
</section>