<section class="categories section">
  <div class="container">
    <h2 class="categories__title title">
      Популярные категории
    </h2>
    <ul class="filters">
      <li class="filters__item">
        <button class="filters__item-btn btn" type="button" data-filter=".category-burgers">
          <svg class="filters__link-svg">
            <use xlink:href="images/sprite.svg#icon-category-burger"></use>
          </svg>
          Бургеры
        </button>
      </li>
      <li class="filters__item">
        <button class="filters__item-btn btn" type="button" data-filter=".category-pizza">
          <svg class="filters__link-svg">
            <use xlink:href="images/sprite.svg#icon-category-pizza"></use>
          </svg>
          Пицца
        </button>
      </li>
      <li class="filters__item">
        <button class="filters__item-btn btn" type="button" data-filter=".category-sandwich">
          <svg class="filters__link-svg">
            <use xlink:href="images/sprite.svg#icon-category-sandvich"></use>
          </svg>
          Сендвичи
        </button>
      </li>
      <li class="filters__item">
        <button class="filters__item-btn btn" type="button" data-filter=".category-asianfood">
          <svg class="filters__link-svg">
            <use xlink:href="images/sprite.svg#icon-category-asia"></use>
          </svg>
          Азиатская кухня
        </button>
      </li>
      <li class="filters__item">
        <button class="filters__item-btn btn" type="button" data-filter=".category-setmenu">
          <svg class="filters__link-svg">
            <use xlink:href="images/sprite.svg#icon-category-dish"></use>
          </svg>
          Cеты
        </button>
      </li>
    </ul>
    <div class="categories__content">
      <article class="categories__item categories__item--chees mix category-burgers">
        <div class="categories__item-name">
          Чизбургер с листьями салата
        </div>
        <div class="categories__item-box">
          <span class="categories__item-sum">
            160 грн.
          </span>
          <button class="categories__btn btn">
            В корзину
          </button>
        </div>
      </article>
      <article class="categories__item categories__item--beef mix category-burgers">
        <div class="categories__item-name">
          Бифбургер
        </div>
        <div class="categories__item-box">
          <span class="categories__item-sum">
            190 грн.
          </span>
          <button class="categories__btn btn">
            В корзину
          </button>
        </div>
      </article>
      <article class="categories__item categories__item--king mix category-burgers">
        <div class="categories__item-name">
          Королевский чизбургер
        </div>
        <div class="categories__item-box">
          <span class="categories__item-sum">
            260 грн.
          </span>
          <button class="categories__btn btn">
            В корзину
          </button>
        </div>
      </article>
      <article class="categories__item categories__item--black mix category-burgers">
        <div class="categories__item-name">
          Черный гамбургер
        </div>
        <div class="categories__item-box">
          <span class="categories__item-sum">
            199 грн.
          </span>
          <button class="categories__btn btn">
            В корзину
          </button>
        </div>
      </article>
      <article class="categories__item categories__item--cheeken mix category-burgers">
        <div class="categories__item-name">
          Чикен бургер
        </div>
        <div class="categories__item-box">
          <span class="categories__item-sum">
            180 грн.
          </span>
          <button class="categories__btn btn">
            В корзину
          </button>
        </div>
      </article>
      <article class="categories__item categories__item--chees mix category-burgers">
        <div class="categories__item-name">
          Чизбургер с листьями салата
        </div>
        <div class="categories__item-box">
          <span class="categories__item-sum">
            160 грн.
          </span>
          <button class="categories__btn btn">
            В корзину
          </button>
        </div>
      </article>
      <article class="categories__item categories__item--beef mix category-burgers">
        <div class="categories__item-name">
          Бифбургер
        </div>
        <div class="categories__item-box">
          <span class="categories__item-sum">
            190 грн.
          </span>
          <button class="categories__btn btn">
            В корзину
          </button>
        </div>
      </article>
      <article class="categories__item categories__item--king mix category-burgers">
        <div class="categories__item-name">
          Королевский чизбургер
        </div>
        <div class="categories__item-box">
          <span class="categories__item-sum">
            260 грн.
          </span>
          <button class="categories__btn btn">
            В корзину
          </button>
        </div>
      </article>
      <article class="categories__item categories__item--black mix category-burgers">
        <div class="categories__item-name">
          Черный гамбургер
        </div>
        <div class="categories__item-box">
          <span class="categories__item-sum">
            199 грн.
          </span>
          <button class="categories__btn btn">
            В корзину
          </button>
        </div>
      </article>
      <article class="categories__item categories__item--cheeken mix category-burgers">
        <div class="categories__item-name">
          Чикен бургер
        </div>
        <div class="categories__item-box">
          <span class="categories__item-sum">
            180 грн.
          </span>
          <button class="categories__btn btn">
            В корзину
          </button>
        </div>
      </article>
    </div>
    <a class="link" href="#">
      Показать еще
    </a>
  </div>
</section>