<section class="categories section">
  <div class="container">
    <h2 class="categories__title title">
      Популярные категории
    </h2>
    <ul class="filters">
      <li class="filters__item">
        <button class="filters__item-btn btn filters__item-btn--active" type="button" data-filter=".category-burgers">
          <span style="background-image: url('images/sprite.svg#icon-category-burger');"></span>
          Бургеры
        </button>
      </li>
      <li class="filters__item">
        <button class="filters__item-btn btn" type="button" data-filter=".category-pizza">
          <span style="background-image: url('images/sprite.svg#icon-category-pizza');"></span>
          Пицца
        </button>
      </li>
      <li class="filters__item">
        <button class="filters__item-btn btn" type="button" data-filter=".category-sandwich">
          <span style="background-image: url('images/sprite.svg#icon-category-sandvich');"></span>
          Сендвичи
        </button>
      </li>
      <li class="filters__item">
        <button class="filters__item-btn btn" type="button" data-filter=".category-asianfood">
          <span style="background-image: url('images/sprite.svg#icon-category-asia');"></span>
          Азиатская кухня
        </button>
      </li>
      <li class="filters__item">
        <button class="filters__item-btn btn" type="button" data-filter=".category-setmenu">
          <span style="background-image: url('images/sprite.svg#icon-category-dish');"></span>
          Cеты
        </button>
      </li>
    </ul>
    <div class="categories__content">

      <article class="categories__item mix category-burgers">
        <div class="categories__item-name">
          <img class="categories__img" src="images/food/chees-food.png" alt="Бургер" width="140" height="140">
          Чизбургер с листьями салата
        </div>
        <div class="categories__item-box">
          <span class="categories__item-sum">
            160 грн.
          </span>
          <button class="categories__btn btn">
            В корзину
          </button>
        </div>
      </article>
      <article class="categories__item mix category-burgers">
        <div class="categories__item-name">
          <img class="categories__img" src="images/food/beef-food.png" alt="Бургер" width="140" height="140">
          Бифбургер
        </div>
        <div class="categories__item-box">
          <span class="categories__item-sum">
            190 грн.
          </span>
          <button class="categories__btn btn">
            В корзину
          </button>
        </div>
      </article>
      <article class="categories__item mix category-burgers">
        <div class="categories__item-name">
          <img class="categories__img" src="images/food/king-food.png" alt="Бургер" width="140" height="140">
          Королевский чизбургер
        </div>
        <div class="categories__item-box">
          <span class="categories__item-sum">
            260 грн.
          </span>
          <button class="categories__btn btn">
            В корзину
          </button>
        </div>
      </article>
      <article class="categories__item mix category-burgers">
        <div class="categories__item-name">
          <img class="categories__img" src="images/food/black-food.png" alt="Бургер" width="140" height="140">
          Черный гамбургер
        </div>
        <div class="categories__item-box">
          <span class="categories__item-sum">
            199 грн.
          </span>
          <button class="categories__btn btn">
            В корзину
          </button>
        </div>
      </article>
      <article class="categories__item mix category-burgers">
        <div class="categories__item-name">
          <img class="categories__img" src="images/food/cheeken-food.png" alt="Бургер" width="140" height="140">
          Чикен бургер
        </div>
        <div class="categories__item-box">
          <span class="categories__item-sum">
            180 грн.
          </span>
          <button class="categories__btn btn">
            В корзину
          </button>
        </div>
      </article>
      <article class="categories__item mix category-burgers">
        <div class="categories__item-name">
          <img class="categories__img" src="images/food/chees-food.png" alt="Бургер" width="140" height="140">
          Чизбургер с листьями салата
        </div>
        <div class="categories__item-box">
          <span class="categories__item-sum">
            160 грн.
          </span>
          <button class="categories__btn btn">
            В корзину
          </button>
        </div>
      </article>
      <article class="categories__item mix category-burgers">
        <div class="categories__item-name">
          <img class="categories__img" src="images/food/beef-food.png" alt="Бургер" width="140" height="140">
          Бифбургер
        </div>
        <div class="categories__item-box">
          <span class="categories__item-sum">
            190 грн.
          </span>
          <button class="categories__btn btn">
            В корзину
          </button>
        </div>
      </article>
      <article class="categories__item mix category-burgers">
        <div class="categories__item-name">
          <img class="categories__img" src="images/food/king-food.png" alt="Бургер" width="140" height="140">
          Королевский чизбургер
        </div>
        <div class="categories__item-box">
          <span class="categories__item-sum">
            260 грн.
          </span>
          <button class="categories__btn btn">
            В корзину
          </button>
        </div>
      </article>
      <article class="categories__item mix category-burgers">
        <div class="categories__item-name">
          <img class="categories__img" src="images/food/black-food.png" alt="Бургер" width="140" height="140">
          Черный гамбургер
        </div>
        <div class="categories__item-box">
          <span class="categories__item-sum">
            199 грн.
          </span>
          <button class="categories__btn btn">
            В корзину
          </button>
        </div>
      </article>
      <article class="categories__item mix category-burgers">
        <div class="categories__item-name">
          <img class="categories__img" src="images/food/cheeken-food.png" alt="Бургер" width="140" height="140">
          Чикен бургер
        </div>
        <div class="categories__item-box">
          <span class="categories__item-sum">
            180 грн.
          </span>
          <button class="categories__btn btn">
            В корзину
          </button>
        </div>
      </article>
    </div>
    <a class="link" href="#">
      Показать еще
    </a>
  </div>
</section>