<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="logo" href="#">
        <img class="logo__img" src="images/logo.svg" width="200" height="39" alt="Лого">
      </a>
      <nav class="menu">
        <button class="menu__btn">
          <span></span>
        </button>
        <ul class="menu__list">
          <li class="menu__list-item">
            <a class="menu__list-link" href="#">
              Главная
            </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#">
              Блюда
            </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#">
              Контакты
            </a>
          </li>
        </ul>

        <div class="user-nav">
          <a class="user-nav__link" href="#">
            <span class="user-nav__svg" style="background-image: url('images/icons/icon-search.svg');"></span>
          </a>
          <a class="user-nav__link" href="#">
            <span class="user-nav__num">
              4
            </span>
            <span class="user-nav__svg" style="background-image: url('images/icons/icon-cart.svg');">
            </span>
          </a>
        </div>
      </nav>
    </div>
  </div>
</header>