<section class="restorants section">
  <div class="container">
    <h2 class="restorants__title title">
      Лучшие рестораны
    </h2>
    <div class="restorants__inner">

      <article class="restorants__item">
        <img class="restorants__img" src="images/food/blaze-pizza.png" alt="blaze-pizza" width="370" height="300">
        <h3 class="restorants__name">
          Blaze Pizza
        </h3>
        <div class="restorants__box">
          <div class="restorants__time">
            <svg class="restorants__time-svg">
              <use xlink:href="images/sprite.svg#icon-time"></use>
            </svg>
            11:00 - 22:00
          </div>
          <a href="#" class="restorants__link">
            <span style="background-image: url('images/sprite.svg#icon-arrow');"></span>
          </a>
        </div>
      </article>

      <article class="restorants__item">
        <img class="restorants__img" src="images/food/pizza-runcho.png" alt="blaze-pizza" width="370" height="300">
        <h3 class="restorants__name">
          Pizza Runcho
        </h3>
        <div class="restorants__box">
          <div class="restorants__time">
            <svg class="restorants__time-svg">
              <use xlink:href="images/sprite.svg#icon-time"></use>
            </svg>
            12:00 - 21:00
          </div>
          <a href="#" class="restorants__link">
            <span style="background-image: url('images/sprite.svg#icon-arrow');"></span>

          </a>
        </div>
      </article>

      <article class="restorants__item">
        <img class="restorants__img" src="images/food/pizza-hut.png" alt="blaze-pizza" width="370" height="300">
        <h3 class="restorants__name">
          Pizza Hut
        </h3>
        <div class="restorants__box">
          <div class="restorants__time">
            <svg class="restorants__time-svg">
              <use xlink:href="images/sprite.svg#icon-time"></use>
            </svg>
            11:00 - 22:00
          </div>
          <a href="#" class="restorants__link">
            <span style="background-image: url('images/sprite.svg#icon-arrow');"></span>

          </a>
        </div>
      </article>

      <article class="restorants__item">
        <img class="restorants__img" src="images/food/mc-donalds.png" alt="blaze-pizza" width="370" height="300">
        <h3 class="restorants__name">
          McDonald`s
        </h3>
        <div class="restorants__box">
          <div class="restorants__time">
            <svg class="restorants__time-svg">
              <use xlink:href="images/sprite.svg#icon-time"></use>
            </svg>
            06:00 - 23:00
          </div>
          <a href="#" class="restorants__link">
            <span style="background-image: url('images/sprite.svg#icon-arrow');"></span>

          </a>
        </div>
      </article>

      <article class="restorants__item">
        <img class="restorants__img" src="images/food/kfc.png" alt="blaze-pizza" width="370" height="300">
        <h3 class="restorants__name">
          KFC
        </h3>
        <div class="restorants__box">
          <div class="restorants__time">
            <svg class="restorants__time-svg">
              <use xlink:href="images/sprite.svg#icon-time"></use>
            </svg>
            06:00 - 23:30
          </div>
          <a href="#" class="restorants__link">
            <span style="background-image: url('images/sprite.svg#icon-arrow');"></span>

          </a>
        </div>
      </article>

      <article class="restorants__item">
        <img class="restorants__img" src="images/food/star-burgers.png" alt="blaze-pizza" width="370" height="300">
        <h3 class="restorants__name">
          Star Burgers
        </h3>
        <div class="restorants__box">
          <div class="restorants__time">
            <svg class="restorants__time-svg">
              <use xlink:href="images/sprite.svg#icon-time"></use>
            </svg>
            09:00 - 21:00
          </div>
          <a href="#" class="restorants__link">
            <span style="background-image: url('images/sprite.svg#icon-arrow');"></span>

          </a>
        </div>
      </article>

    </div>
  </div>
</section>