<section class="reviews section">
  <div class="container">
    <h2 class="reviews__title title">
      Отзывы клиентов
    </h2>
      <div class="swiper">
        <div class="swiper-container">
          <div class="swiper-wrapper">

            <div class="reviews__slide swiper-slide">
              <img class="reviews__img" src="images/client.jpg" alt="Клиент" width="300" height="300">
              <div class="reviews__aside">
              </svg>
              <blockquote class="reviews__blockquote">
                  <svg class="reviews__svg reviews__svg--quote-open">
                    <use xlink:href="images/sprite.svg#icon-quote-open"></use>
                  <p class="reviews__text">SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе.
                    Очень удобный сайт и
                  приложение. Их
                  доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
                  однозначно
                  рекомендую!</p>
                  <svg class="reviews__svg reviews__svg--quote-close">
                    <use xlink:href="images/sprite.svg#icon-quote-close"></use>
                </blockquote>
                </svg>
                <div class="reviews__name">
                  Дарья
                </div>
                  <span class="reviews__expert">
                    Ценитель вкусной еды
                  </span>
              </div>
            </div>
            <div class="reviews__slide swiper-slide">
              <img class="reviews__img" src="images/client.jpg" alt="Клиент">
              <div class="reviews__aside">
              </svg>
              <blockquote class="reviews__blockquote">
                  <svg class="reviews__svg reviews__svg--quote-open">
                    <use xlink:href="images/sprite.svg#icon-quote-open"></use>
                  <p class="reviews__text">SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе.
                    Очень удобный сайт и
                  приложение. Их
                  доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
                  однозначно
                  рекомендую!</p>
                  <svg class="reviews__svg reviews__svg--quote-close">
                    <use xlink:href="images/sprite.svg#icon-quote-close"></use>
                </blockquote>
                </svg>
                <div class="reviews__name">
                  Дарья
                </div>
                  <span class="reviews__expert">
                    Ценитель вкусной еды
                  </span>
              </div>
            </div>
            <div class="reviews__slide swiper-slide">
              <img class="reviews__img" src="images/client.jpg" alt="Клиент">
              <div class="reviews__aside">
              </svg>
              <blockquote class="reviews__blockquote">
                  <svg class="reviews__svg reviews__svg--quote-open">
                    <use xlink:href="images/sprite.svg#icon-quote-open"></use>
                  <p class="reviews__text">SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе.
                    Очень удобный сайт и
                  приложение. Их
                  доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
                  однозначно
                  рекомендую!</p>
                  <svg class="reviews__svg reviews__svg--quote-close">
                    <use xlink:href="images/sprite.svg#icon-quote-close"></use>
                </blockquote>
                </svg>
                <div class="reviews__name">
                  Дарья
                </div>
                  <span class="reviews__expert">
                    Ценитель вкусной еды
                  </span>
              </div>
            </div>
            <div class="reviews__slide swiper-slide">
              <img class="reviews__img" src="images/client.jpg" alt="Клиент">
              <div class="reviews__aside">
              </svg>
              <blockquote class="reviews__blockquote">
                  <svg class="reviews__svg reviews__svg--quote-open">
                    <use xlink:href="images/sprite.svg#icon-quote-open"></use>
                  <p class="reviews__text">SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе.
                    Очень удобный сайт и
                  приложение. Их
                  доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
                  однозначно
                  рекомендую!</p>
                  <svg class="reviews__svg reviews__svg--quote-close">
                    <use xlink:href="images/sprite.svg#icon-quote-close"></use>
                </blockquote>
                </svg>
                <div class="reviews__name">
                  Дарья
                </div>
                  <span class="reviews__expert">
                    Ценитель вкусной еды
                  </span>
              </div>
            </div>

          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-buttons">
          <button class="swiper-button-prev">
            <span style="background-image: url('images/sprite.svg#icon-left');"></span>
            
          </button>
          <button class="swiper-button-next">
            <span style="background-image: url('images/sprite.svg#icon-right');"></span>
            
          </button>
        </div>
      </div>
  </div>
</section>